.delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 70vh;
  color: red;
  animation: anime 2s infinite;
}

@keyframes anime {
  0% {color: black; transform: rotate(0deg)}
  50% {color: red; transform: rotate(180deg)}
  100% {color: black; transform: rotate(360deg)}
}

.deleted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 70vh;
  color: black;
}